<!-- <%= render 'shared/errors', obj: @chef %> -->

<div class="row login-form-container">
  <div class="jumbotron well login-form">
    <%= form_for @chef do |f| %>

      <%= f.text_field :email, class: "form-input form-input-top", placeholder: "Email" %>

      <%= f.password_field :password, class: "form-input form-input-middle", placeholder: "Password" %>

      <%= f.text_field :chefname, class: "form-input form-input-bottom", placeholder: "Your Name" %>
      
    <%= f.submit(@chef.new_record? ? "Register" : "Edit Profile", class: "btn btn-success btn-std login-btn") %>
    <% end %>
  </div>
</div>
