<%= render 'shared/errors', obj: @recipe %>

  <div class="well new-recipe-form">
    <%= form_for(@recipe, html: {multiport: true}) do |f| %>
      <%= f.label :name, "What are you cooking?"%>
      <%= f.text_field :name, placeholder: "100 characters" %><br />

      <%= f.label :summary, "Tell us something about it" %>
      <%= f.text_field :summary, placeholder: "150 characters" %><br />

      <%= f.label :description, "Tell us how to cook it" %>
      <%= f.text_area :description, rows: 10, placeholder: "2000 characters" %><br />


      <strong>Cuisine(s): </strong>
      <%= f.collection_check_boxes :style_ids, Style.all, :id, :name do |cb| %>
        <% cb.label(class: "checkbox-inline input-checkbox"){cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
      <br />

      <strong>Ingredients: </strong>
      <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |cbi| %>
        <% cbi.label(class: "checkbox-inline input-checkbox"){cbi.check_box(class: "checkbox") + cbi.text} %>
      <% end %>
      <br />

      <span class="picture-uploader">
        <%= f.file_field :picture, accept: 'image/jpeg, image/gif, image/png, image/jpg' %>
      </span>

      <div class="btn-center"><%= f.submit(@recipe.new_record? ? "Share Recipe" : "Edit Recipe", class: "btn btn-success btn-std share-recipe-btn") %></div>
    <% end %>
  </div>


<script type="text/javascript">
  $('#recipe_picture').bind('change', function() {
    size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Sorry, you can only upload files less than 5MB");
    }
  });
</script>
