

<%= render 'shared/page_title', title: @recipe.name.upcase %>
<hr />

<div class="row">
  <div class="col-md-4 center chef-info">
    <%= link_to gravatar_for(@recipe.chef, size: 200), chef_path(@recipe.chef) %>

    <p>
      <h4>Brought to you by: <b><%= @recipe.chef.chefname %></b></h4>
    </p>

  </div>

  <div class="col-md-6 description-container">
    <h3> <%= @recipe.summary %> </h3>
    <div class="show-recipe">
      <%= image_tag(@recipe.picture.url, class: "recipe-image") if @recipe.picture? %>
    </div>

    <div class="well">
      <% if @recipe.styles.any? %>
        <p>Cuisine(s): <%= render @recipe.styles %></p>
      <% end %>
      <% if @recipe.ingredients.any? %>
        <p>Ingredients: <%= render @recipe.ingredients %></p>
      <% end %>
      <p>
        <strong>Steps: <strong>
      </p>
      <%= simple_format(@recipe.description) %>
      <div class="pull-right">
        <%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp <%= @recipe.upvote_total %>
        <% end %>&nbsp&nbsp&nbsp&nbsp
        <%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= @recipe.downvote_total %>
        <% end %>

      </div>
    </div>
      <% if logged_in and (@recipe.chef == current_user || current_user.admin?) %>
        <%= link_to "Edit Recipe", edit_recipe_path, class: "btn btn-small btn-success btn-std" %>&nbsp
      <% end %>
      <%= link_to "Back", recipes_path, class: "btn btn-small btn-success btn-std" %>
      <div class="pull-right" style="color: red">
        <% if logged_in and current_user.admin? %>
          <%= link_to "[delete recipe]", @recipe, method: :delete, data: {confirm: "Are you sure you want to delete this recipe?" } %>
        <% end %>
  </div>
  
</div>


