<%= render 'shared/errors', obj: @ingredient %>
<%= render 'shared/page_title', title: "Add Ingredients" %>
  <div class="well add-styles">
    <%= form_for @ingredient do |f| %>
      <%= f.label :name, "What ingredients do you want to use?"%>
      <%= f.text_field :name, placeholder: "25 characters" %><br />

      <div class="btn-center"><%= f.submit("Add Ingredient", class: "btn btn-success btn-std share-recipe-btn") %></div>
    <% end %>
  </div>
