<!-- <span class="recipes"><h1>Recipes</h1></span> -->

<%= render 'shared/page_title', title: "Recipes for: " +@style.name %>

<ul class="nav nav-tabs">
  <li class="active">
    <%= link_to "Recipes", recipes_path %>
  </li>
  <li>
    <%= link_to "Chefs", chefs_path %>
  </li>
</ul>

<%if logged_in %>
<%= link_to "New Recipe", new_recipe_path, class: "btn btn-lg border-blue-join new-recipe" %>
<% end %>
<hr />

<%= will_paginate @recipes %>

<div class="container custom-container">
<% @style.recipes.each do |recipe| %>
  <div class="row">
    <div class="col-md-2">
      <section class="chef_info center">
        <%= link_to (gravatar_for recipe.chef, size: 100), chef_path(recipe.chef) %>
        <h5>Chef: <%= recipe.chef.chefname %></h5>
      </section>
    </div>

    <div class="col-lg-6 well">
      <h4><%= link_to recipe.name, recipe_path(recipe) %></h4>
      <p><%= recipe.summary %></p>
      <p>Cuisine(s): <%= render recipe.styles %></p>
      <p>Ingredients: <%= render recipe.ingredients %></p>

      <p><span class="quiet"><small>Created at: <%= time_ago_in_words(recipe.created_at) %> ago</small></span></p>
      <p><span class="quiet"><small>Updated at: <%= time_ago_in_words(recipe.updated_at) %> ago</small></span></p>
      <div class="pull-right">
        <%= link_to like_recipe_path(recipe, like: true), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-up"></i>&nbsp <%= recipe.upvote_total %>
        <% end %>&nbsp&nbsp&nbsp&nbsp
        <%= link_to like_recipe_path(recipe, like: false), method: :post do %>
          <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp <%= recipe.downvote_total %>
        <% end %>
      </div>
    </div>



    <div class="col-md-4">
      <%= image_tag(recipe.picture.url, size: "250x150", class: "recipe-image") if recipe.picture?  %>
    </div>
  </div>
  <hr />

<% end %>
</div>

<%= will_paginate @recipes %>
