<nav class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
 <div class="navbar-header">
  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <%= link_to "belly bites", root_path, class: "navbar-brand", id: "logo" %>
</div>
<!-- Collect the nav links, forms, and other content for toggling -->
<!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> -->
  <div>
  <ul>
    <li class="registration"><%= link_to "RECIPES", recipes_path, id: "recipes"  %></li>
    <li id="vertical-divider"></li>
    <% if !logged_in %>
    <li class="registration"><%= link_to "REGISTER", register_path, id: "signup"  %></li>
    <% end %>
    <li id="vertical-divider"></li>
    <% if !logged_in %>
      <li class="registration"><%= link_to "LOG IN", login_path, class: "login"  %></li>
    <% else %>

      <li class="registration dropdown">
        <%= link_to '#', class: "login dropdown-toggle", "data-toggle" => "dropdown" do %>
          <%= current_user.chefname %><b class="caret"></b>
        <% end %>
        <ul class="dropdown-menu">
          <li><%= link_to "View Profile", chef_path(current_user) %></li>
          <li><%= link_to "Edit Profile", edit_chef_path(current_user) %></li>
          <li class="divider"></li>
          <li><%= link_to "Log Out", logout_path%></li>
        </ul>
      </li>
    <% end %>
  </ul>

</div>
</div>
</nav>
